# Dependency directories
node_modules

# dotenv environment variables file
.env
.env.test
.env.production
.venv

# Temp folder
.temp
/#

# Clasp file. Contains secrets.
/.clasp.json

# Powershell script log files:
demo/Errors_*.txt
demo/Success_*.txt
